@using wiseCamp.Dul
@using wiseCamp.Models



@model IEnumerable<MemberExcel>
@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8" />
    
</head>
<body>
<table border="1">

    <tr>
       
        <th >수박씨ID</th>
        <th >수박씨회원명</th>
        <th>수박씨연락처</th>
        <th >담임교사ID</th>
        <th >담임교사명</th>
        <th>추천교사ID</th>
        <th>추천교사명</th>
        <th>와이즈캠프ID</th>
        <th>와이즈캠프회명</th>
        <th>가입경로</th>
        <th>수박씨가입일</th>
        <th>회원상태</th>
       
    </tr>
    @if (Model != null)
    {

        @foreach (var item in Model)
        {
            <tr>
              
                <td>@item.mem_ID</td>
                <td>@item.m_Name</td>
                <td>@item.m_HP</td>
                <td>@item.mainProfID</td>
                <td>@item.mainProfName</td>
                <td>@item.subProfID</td>
                <td>@item.subProfName</td>
                <td>@item.familysiteMemID</td>
                <td>@item.familysiteMemName</td>
                <td>@item.SiteGbName</td>
                <td>@item.reg_date</td>
                <td>
                    @if (@item.CancelCount > 0)
                    {
                        <font style="color:red">구매취소</font>
                    }
                    else
                    {
                        @if (@item.orderCount > 0)
                        {
                            <font style="color:blue">구매완료</font>
                        }
                        else
                        {
                            @if (item.buyYnFlag != "")
                            {
                                <span>구매불가</span>
                            }
                            else
                            {
                                @if (item.mem_ID == "" || item.mem_ID == null)
                                {
                                    <span>가입이전</span>
                                }
                                else
                                {
                                    <span>가입완료</span>
                                }
                            }
                        }
                    }
                </td>              
            </tr>

        }
    }
    else
    {
        <tr>
            <td colspan="14" style="text-align:center">조회된 데이터가 없습니다.</td>
        </tr>
    }
</table>
    </body>
</html>